* { 
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    color: #924b03;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8);
    scrollbar-width: thin;
    scrollbar-color: #924b03 transparent;
}

:not(dialog) {
    margin: 0;
    padding: 0;
}

img {
    cursor: zoom-in;
}

dialog {
    padding: 0;
    outline: none;
    border: none;
    overflow: hidden;
}

dialog > img {
    display: flex;
    cursor: zoom-out;
    user-select: none;
    max-height: 90vh;
    max-width: 90vw;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.current-page {
    font-weight: bold;
    font-size: 24px;
}

main a {
    color: #0000EE;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    background-image: url("../images/background.png");
    background-size: cover;
}

header, main {
    width: 950px;
    padding: 24px;
}

button.menu {
    display: none;
}

@media only screen and (max-width: 1000px) {
    header, main {
        width: 80%;
    }

    header > a.logo::after {
        content: "";
    }
}

@media only screen and (max-width: 700px) {
    header > nav {
        position: absolute;
        right: 20%;
        top: 54px;
    }
    
    header > nav > a:not(.current-page) {
        display: none;
    }
    
    nav > a.current-page {
        font-size: 18px;
    }

    header > button.menu {
        display: flex;
        align-self: center;
        filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.8));
    }

    header > button.menu:hover {
        opacity: 0.8;
    }

    header > button.menu:active {
        opacity: 0.6;
    }

    header > button.menu.open {
        filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.6));
    }

    header > button.menu::before {
        content: url("../images/menu.svg");
    }

    header > nav.open {
        flex-flow: column;
        align-items: end;
        padding: 12px 12px 12px 36px;
        border-radius: 24px;
        right: 60px;
        top: 100px;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
    }
    
    header > nav.open > a {
        display: flex;
        padding: 12px;
    }

    body > main {
        display: flex;
        flex-flow: column;
    }
}

header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

a.logo {
    width: 80px;
    border-radius: 80px;
    aspect-ratio: 1;
    background-image: url("../images/logo.jpg");
    background-size: cover;
    box-shadow: 0px 16px 4px -6px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
}

a.logo::after {
    content: "Durish Works";
    font-weight: bold;
    white-space: nowrap;
    position: relative;
    font-size: 24px;
    left: 130%;
}

nav {
    display: flex;
}

nav > a {
    display: flex;
    align-items: center;
    padding: 0 12px;
}

main {
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: 24px;
}

main > section {
    display: flex;
    flex-flow: column;
    align-items: start;
    gap: 12px;
}

.gallery {
    flex-flow: row wrap;
    align-items: start;
    justify-content: space-between;
    gap: 12px;
}

.gallery > img {
    max-width: 48%;
}

.icon {
    height: 24px;
    aspect-ratio: 1;
    display: inline-flex;
    vertical-align: middle;
    background-size: cover;
}

.instagram {
    background-image: url("/src/assets/images/Instagram_icon.png");
}

.pinterest {
    background-image: url("/src/assets/images/Pinterest_icon.png");
}

.facebook {
    background-image: url("/src/assets/images/Facebook_icon.png");
}