* { 
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.current-page {
    font-weight: bold;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
}

header, main {
    width: 950px;
    padding: 12px;
}

header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

a.logo {
    width: 80px;
    border-radius: 80px;
    aspect-ratio: 1;
    background-image: url("../images/logo.jpg");
    background-size: cover;
}

nav {
    display: flex;
}

nav > a {
    display: flex;
    align-items: center;
    padding: 0 12px;
}