@font-face {
    font-family: PermanentMarker;
    src: url("/src/assets/fonts/PermanentMarker-Regular.ttf");
}

* { 
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    color: #924b03;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8);
    scrollbar-width: thin;
    scrollbar-color: #924b03 transparent;
    box-sizing: border-box;
}

h1, header * {
    font-family: PermanentMarker;
}

:not(dialog) {
    margin: 0;
    padding: 0;
}

dialog {
    padding: 0;
    outline: none;
    border: none;
    overflow: hidden;
}

dialog > img {
    display: flex;
    cursor: zoom-out;
    user-select: none;
    max-height: 90vh;
    max-width: 90vw;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.current-page {
    font-weight: bold;
    font-size: 24px;
}

main a {
    color: #0000EE;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    background-image: url("../images/background.webp");
    background-size: cover;
}

header, main {
    width: 1100px;
    padding: 24px;
}

button.menu {
    display: none;
}

@media only screen and (max-width: 1100px) {
    header, main {
        width: 100%;
    }

    header > a.logo::after {
        content: "";
    }
}

@media only screen and (max-width: 900px) {
    header > nav {
        display: none;
    }
    
    nav > a.current-page {
        font-size: 18px;
    }

    header > button.menu {
        display: flex;
        align-self: center;
        filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.8));
    }

    header > button.menu:hover {
        opacity: 0.8;
    }

    header > button.menu:active {
        opacity: 0.6;
    }

    header > button.menu.open {
        filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.6));
    }

    header > button.menu::before {
        content: url("../images/menu.svg");
    }

    header > nav.open {
        display: flex;
        position: absolute;
        flex-flow: column;
        align-items: end;
        padding: 12px 12px 12px 36px;
        border-radius: 24px;
        right: 60px;
        top: 100px;
        background: rgba(255, 255, 255, 0.75);
        backdrop-filter: blur(12px);
    }
    
    header > nav.open > a {
        display: flex;
        padding: 12px;
    }

    body > main {
        display: flex;
        flex-flow: column;
    }
    
    section.gallery {
        columns: 140px;
    }
}

header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

a.logo {
    width: 80px;
    border-radius: 80px;
    aspect-ratio: 1;
    background-image: url("../images/logo.webp");
    background-size: cover;
    box-shadow: 0px 16px 4px -6px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
}

a.logo::after {
    content: "Durish Works";
    font-weight: bold;
    white-space: nowrap;
    position: relative;
    font-size: 24px;
    left: 130%;
}

nav {
    display: flex;
}

nav > a {
    display: flex;
    align-items: center;
    padding: 0 12px;
}

main {
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: 24px;
}

main > section {
    display: flex;
    flex-flow: column;
    gap: 12px;
}

.gallery {
    display: block;
    columns: 210px;
    gap: 12px;
}

.gallery > * {
    display: flex;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 12px;
}

.gallery img {
    cursor: zoom-in;
}

iframe {
    height: 1200px;
}

table {
    text-align: left;
    border: #652600 solid 1px;
    border-spacing: 0px;
}

th {
    color: wheat;
    text-shadow: none;
    background: #652600;
    font-size: 18px;
}

td {
    background: wheat;
}

th, td {
    padding: 6px;
}

section:has(iframe.loading)::before {
    content: "";
    align-self: center;
    z-index: -1;
    margin-top: 36px;
    position: absolute;
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #924b03;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.icon {
    height: 20px;
    aspect-ratio: 1;
    display: inline-flex;
    vertical-align: bottom;
    background-size: cover;
    margin: 0px 2px;
}

.instagram {
    background-image: url("/src/assets/images/Instagram_icon.webp");
}

.pinterest {
    background-image: url("/src/assets/images/Pinterest_icon.webp");
}

.facebook {
    background-image: url("/src/assets/images/Facebook_icon.webp");
}

.discord {
    background-image: url("/src/assets/images/Discord_icon.svg");
}

.website {
    background-image: url("/src/assets/images/globe.svg");
}